
.manage-patient {
    font-size: 1.6rem;
    padding: 0 10rem;

    .doctor-date{
        font-size: 1.6rem;
        outline: none;
    }

    &-title{
        color: rgb(0, 187, 0);
        font-weight: bold;
        text-align: center;
        margin-top: 2rem;
        font-size: 3rem;
    }

    &-body {
        .patient-list {
            table {
                width: 100%;
                font-family: arial, sans-serif;
                border-collapse: collapse;
                td, th {
                    border: 1px solid #dddddd;
                    text-align: left;
                    padding: 8px;
    
                }
                tr:nth-child(even) {
                    background-color: #ebebeb;
                }

                .btn {
                    font-size: 1.6rem;
                    color: white;
                    font-weight: 500;
                }

                .btn-confirm{
                    padding: 1rem 1rem;
                    background-color: rgb(0, 211, 0);

                    &:hover {
                        background-color: rgb(0, 177, 0);
                    }
                } 
            }
            
        } 
    }
}